{
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 80,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true
}
